# /node_modules/* and /bower_components/* in the project root are ignored by default

.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

/config/config.js
/package-lock.json

**/*.spec.js
**/*.test.js
**/*.e2e.js

/build/**
/config/**
/static/**

