@import 'color-variable';
@import 'font-variable';
@import 'size-variable';

@mixin flex($h: flex-start, $v: center, $wrap: nowrap) {
  display: flex;
  justify-content: $h;
  align-items: $v;
  flex-wrap: $wrap;
}

@mixin flex-column($h: flex-start, $v: flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: $h;
  align-items: $v;
}

@mixin ellipsis($max-width) {
  max-width: $max-width;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@mixin btn($color) {
  border-color: $color;
  color: $color;
}

@mixin btn-fill($color) {
  border: none;
  color: #fff !important;
  background-color: $color;
}

@mixin total-width($width: 1170px) {
  width: $width;
  margin: 0 auto;
}

@mixin height($height, $lineHeight: 0) {
  height: $height;

  @if $lineHeight != 0 {
    line-height: $lineHeight;
  } @else {
    line-height: $height;
  }
}

@mixin borderHeight($height, $borderTop, $borderBottom) {
  height: $height;
  line-height: calc(#{$height} - #{$borderTop} - #{$borderBottom});
  border-top-width: $borderTop !important;
  border-bottom-width: $borderBottom !important;
}

@function size($val: 1) {
  @return $val * 0.1rem;
}
