.title-xl {
  font-size: .48rem;
  font-weight: 400;
  letter-spacing: .001rem;
}

.title-lg {
  font-size: .34rem;
  font-weight: 400;
  letter-spacing: .001rem;
}

.title {
  font-size: .24rem;
  font-weight: 400;
  letter-spacing: .001rem;
}

.head {
  font-size: .20rem;
  font-weight: 400;
  letter-spacing: .001rem;
}

.subhead {
  font-size: .15rem;
  font-weight: 400;
  letter-spacing: .001rem;
}

.content-1 {
  font-size: .10rem;
  font-weight: 400;
  letter-spacing: .001rem;
}

.content-2 {
  font-size: .12rem;
  font-weight: 400;
  letter-spacing: .001rem;
}

.content-3 {
  font-size: .14rem;
  font-weight: 400;
  letter-spacing: .001rem;
}

.content-4 {
  font-size: .16rem;
  font-weight: 400;
  letter-spacing: .001rem;
}

.content-5 {
  font-size: .18rem;
  font-weight: 400;
  letter-spacing: .001rem;
}

.content-6 {
  font-size: .11rem;
  font-weight: 400;
  letter-spacing: .001rem;
}

.content-7 {
  font-size: .13rem;
  font-weight: 400;
  letter-spacing: .001rem;
}
