.pdf-sign-wrap {
  @include flex-column(center, center);
  width: 100%;

  .tip {
    display: block;
    width: 100%;
    line-height: 0.4rem;
    text-align: center;
  }

  .pdf-wrap {
    position: relative;
    z-index: 1;

    .pdf {
      width: 0.78rem;

      &:last-of-type {
        margin: 0;
      }
    }

    .dot {
      position: absolute;
      left: 0.3rem;
      bottom: 0.3rem;
      z-index: 1;
      width: 0.1rem;
      height: 0.1rem;
    }

    .sign-wrap {
      position: absolute;
      left: 0.3rem;
      right: 0.3rem;
      top: 0.6rem;
      bottom: 0.3rem;

      img {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 0.8rem;
      }
    }

    .signature {
      @include flex(center, center);
      position: absolute;
      right: 0.5rem;
      top: 0.8rem;
      z-index: 2;
      width: 1rem;
      height: 1rem;
      background: rgba(#000, 0.2);

      h2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        padding: 0 0.1rem;
        line-height: 0.24rem;
        @include sub-content();
        color: #fff;
        background: rgba(#000, 0.3);
        pointer-events: none;
      }

      img {
        position: relative;
        width: 0.8rem;
        cursor: pointer;
      }
    }
  }
}
