.pdf-viewer-wrap {
  width: 100%;
  padding: .3rem;
  background: #666;

  .pdf {
    margin: 0 0 $margin;
    box-shadow: 0 .05rem .1rem rgba(#000, .25);

    &:last-of-type {
      margin: 0;
    }
  }
}
