/* Base */
$black-darker: #222;
$black-dark: #333;
$black: #666;
$black-light: #999;
$black-lighter: #ccc;

$red: #fa4a61;
$red-light: #fa7377;
$red-dark: #cc0022;

$blue: #4D8EFA;
$blue-light: #DBE8FE;
$blue-dark: #1669ba;

$yellow: #ff6600;
$yellow-light: #ffe9a7;
$yellow-lighter: #fffaeb;

$purple: #af32bc;

$green: #3dbd7d;
$green-gray: #c5e3ec;
$green-dark: #008236;
$green-darker: #013640;

/* custom */
$main-light: $blue-light;
$main: $blue;
$main-darker: $green-dark;

$font-darker: #232A4A;
$font-dark: #232A4A;
$font: #232A4A;
$font-light: #9194A4;
$font-lighter: #C9CCDC;

$border-dark: #D1D3DF;
$border: #D1D3DF;
$border-light: #F2F3F8;

$bg-dark: #ccc;
$bg: #fafafa;
$bg-light: #f5f5f5;

$content-bg: #fff;

$header-font-color: #979FC3;
$header-bg: #111114;
$header-border: #252A44;
$footer-font-color: $header-font-color;
$footer-bg: $header-bg;
$footer-border: $header-border;

$shadow: rgba(213, 216, 233, 0.6);
$disabled: #F2F3F8;
$placeholder: $font-lighter;

/* input */
$input-border: $border;
$input-bg: #fff;
$input-disabled: #F2F3F8;
$input-label: $font-light;

/* select */
$option-hover-font: inherit;
$option-selected-font: $main;
$option-hover-bg: #F2F3F8;
$option-selected-bg: #F2F3F8;
