.pagination {
  $main: #3491c3;
  $border: #ddd;
  $font: #666;
  $font-light: #999;

  & {
    font-size: size(1.4);
    color: $font;
    overflow: hidden;
  }

  .label {
    float: left;
    height: size(2.8);
    line-height: size(2.8);
    user-select: none;
    color: $font-light;
  }

  .input {
    box-sizing: border-box;
    float: left;
    height: size(2.8);
    padding: 0 size();
    margin: 0 size(2) 0 size();
    border: 1px solid $border;
    border-radius: size(.3);
    line-height: size(2.6);
    color: $font;
    outline: none;

    &:focus {
      border-color: $main;
    }
  }

  .page-btn {
    box-sizing: border-box;
    float: left;
    min-width: size(2.8);
    height: size(2.8);
    line-height: size(2.6);
    padding: 0 size(.4);
    margin: 0 0 0 size();
    border: 1px solid $border;
    text-align: center;
    cursor: pointer;
    vertical-align: middle;
    user-select: none;

    &:hover {
      background: rgba($main, .3);
    }

    &.disabled {
      cursor: default;
      background: rgba(#000, .1);
      border-color: rgba($border, .1);
    }

    &.active {
      color: #fff;
      background: $main;
      border-color: $main;
    }
  }
}
