.float-win {
  width: 3.6rem;
  max-width: calc(100vw - #{$margin} * 2);
  padding: $margin;
  text-align: left;
  border-radius: 0.03rem;
  box-shadow: 0 0.1rem 0.4rem rgba(#000, 0.5);
  background: #fff;
  overflow: hidden;

  h2 {
    @include subhead();
    width: 100%;
    padding: 0 0 0.05rem;
    line-height: 0.26rem;
    color: $font-dark;
  }

  .overlay-content {
    padding: 0.05rem 0 $margin;

    p {
      line-height: normal;
    }
  }

  .btn-group {
    @include flex(flex-end, center);
    margin: 0 -0.1rem -0.05rem 0;

    .btn-cancel,
    .btn-confirm {
      @include flex(center, center);
      height: 0.3rem;
      padding: 0 0.2rem;
      border-radius: 0;
      border: none;
      color: $main;

      &:hover {
        background: $background !important;
      }
    }

    .btn-cancel {
      color: $red;
    }
  }
}
