'use strict'
module.exports = {
  backendUrl: 'url [eg. http://127.0.0.1:8080]',
  rootUrl: '/',                                         // root url for the program
  assetsPublicPath: '/',                                // Public url address for saving static file, such as ali-oss
  assetsSubDirectory: 'static',                         // Directory for saving static file after packaging
  langKeyForStorage: 'LANG',
  tokenKeyForStorage: 'AUTH_TOKEN',
}
