$black-darker: #222;
$black-dark: #333;
$black: #666;
$black-light: #999;
$black-lighter: #ccc;

$border-dark: #d2d2d2;
$border: #ddd;
$border-light: #eee;

$background: #fafafa;
$background-1: #f5f5f5;
$background-dark: #ccc;

$red: #FA4A61;
$red-light: #fa7377;
$red-dark: #cc0022;

$blue: #008add;
$blue-light: #53b6d2;
$blue-dark: #1669ba;

$yellow: #FF6600;
$yellow-light: #FFE9A7;
$yellow-lighter: #FFFAEB;

$purple: #AF32BC;

$green: #3DBD7D;
$green-gray: #c5e3ec;
$green-dark: #008236;
$green-darker: #013640;

$disabled: #ddd;

$gradient: linear-gradient(to right, #074284, #3FB6F6);
