@import 'common-variable';

/* ==========================================================================
   定义整站的样式
 ====== ====================================================================== */

* {
  flex: none;
  max-height: 100000rem; /* font boosting */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

body {
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
  @extend .content-3;
  color: $font;
  background: $background;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* ==========================================================================
   定义一些容器的样式，规范布局
 ====== ====================================================================== */

.container {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
}

.content-card {
  width: 100%;
  margin: 0 0 .1rem;
  background: #fff;
}

/* ==========================================================================
   定义表单元素的样式
 ====== ====================================================================== */

input, textarea, select, button, .btn {
  height: .34rem;
  padding: 0 .1rem;
  color: $font;
  font-family: 'Helvetica Neue', 'Hiragino Sans GB', Helvetica, 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;

  &:focus {
    border-color: $blue;
  }

  &::placeholder {
    color: $font-lighter;
  }
}

button, .btn {
  @include flex(center, center);
  border-radius: .03rem;
  border: 1px solid $border;
  cursor: pointer;

  &[disabled], &.disabled {
    border-color: $disabled !important;
    background: $disabled !important;
    color: $font-light !important;
    cursor: default !important;
  }
}

/* ==========================================================================
   定义a的样式
 ====== ====================================================================== */

a, .a {
  opacity: .8;
  color: $font;
  cursor: pointer;

  &:hover {
    opacity: 1 !important;
  }
}

/* ==========================================================================
   定义表格元素的样式
 ====== ====================================================================== */

table {
  width: 100%;
  border-collapse: collapse;
}

/* ==========================================================================
   定义通用类的样式
 ====== ====================================================================== */

.transparent {
  opacity: 0;
}

.transition {
  transition: all .5s cubic-bezier(.4, 0, .2, 1);
}

/* ==========================================================================
   定义通用的字体/按钮颜色类
 ====== ====================================================================== */

@each $name, $color in (main, $main), (gray, $black-light), (green, $green), (red, $red), (blue, $blue) {
  .btn-#{$name} {
    @include btn($color);
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }

  .btn-#{$name}-fill {
    @include btn-fill($color);
    opacity: .8;

    &:hover {
      opacity: 1;
    }
  }
}

@each $name, $color in (main:$main, blue:$blue, light-blue:$blue-light, red:$red, green:$green) {
  .font-#{$name} {
    color: $color;
  }
}

@import "./pagination";
