@mixin flex($h:flex-start,$v:center,$wrap:nowrap) {
  display: flex;
  justify-content: $h;
  align-items: $v;
  flex-wrap: $wrap;
}

@mixin flex-column($h:flex-start,$v:flex-start) {
  display: flex;
  flex-direction: column;
  justify-content: $h;
  align-items: $v;
}

@mixin total-width($width:1170px) {
  width: $width;
  margin: 0 auto;
}
