.title-xl {
  font-size: 0.48rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

.title-lg {
  font-size: 0.34rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

.title {
  font-size: 0.24rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

.head {
  font-size: 0.2rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

.subhead {
  font-size: 0.15rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

.content-1 {
  font-size: 0.1rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

.content-2 {
  font-size: 0.12rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

.content-3 {
  font-size: 0.14rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

.content-4 {
  font-size: 0.16rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

.content-5 {
  font-size: 0.18rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

.content-6 {
  font-size: 0.11rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}

.content-7 {
  font-size: 0.13rem;
  font-weight: 400;
  letter-spacing: 0.01rem;
}
