@mixin font-style($size: 0.14rem, $weight: 400, $spacing: 0.01rem) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $spacing;
}

@mixin title-xl() {
  @include font-style(0.48rem)
}

@mixin title-lg() {
  @include font-style(0.34rem);
}

@mixin title() {
  @include font-style(0.24rem);
}

@mixin head() {
  @include font-style(0.2rem);
}

@mixin subhead() {
  @include font-style(0.16rem);
}

@mixin content() {
  @include font-style();
}

@mixin sub-content() {
  @include font-style(0.12rem);
}
