<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title data-vue-meta="true"></title>
  <link rel="shortcut icon" href="/static/logo.png" data-vue-meta="true">
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.assetsPublicPath %>/<%= htmlWebpackPlugin.options.assetsSubDirectory %>/dll/VueReference-147792d5da2500d79550.dll.js" defer></script><script type="text/javascript" src="<%= htmlWebpackPlugin.options.assetsPublicPath %>/<%= htmlWebpackPlugin.options.assetsSubDirectory %>/dll/UIAndUtils-d10c593531b5fc8b5092.dll.js" defer></script></head>
<body>
<div id="app"><!--vue-ssr-outlet--></div>
<!-- built files will be auto injected -->
</body>
</html>
