<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title data-vue-meta="true"></title>
  <link rel="shortcut icon" href="/static/logo.png" data-vue-meta="true">
<script type="text/javascript" src="<%= htmlWebpackPlugin.options.assetsPublicPath %>/<%= htmlWebpackPlugin.options.assetsSubDirectory %>/dll/VueReference-e7b1b4dd3eba049384dd.dll.js" defer></script><script type="text/javascript" src="<%= htmlWebpackPlugin.options.assetsPublicPath %>/<%= htmlWebpackPlugin.options.assetsSubDirectory %>/dll/UIAndUtils-14ced070bfaef18fa663.dll.js" defer></script></head>
<body>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
