<!DOCTYPE html>
<html>
<head>
  <meta charset=utf-8>
  <link rel="shortcut icon" href="">
<script type=text/javascript src="<%= htmlWebpackPlugin.options.assetsPublicPath %>/<%= htmlWebpackPlugin.options.assetsSubDirectory %>/dll/VueReference-f718ea310a94f0680baf.dll.js"></script><script type=text/javascript src="<%= htmlWebpackPlugin.options.assetsPublicPath %>/<%= htmlWebpackPlugin.options.assetsSubDirectory %>/dll/UIAndUtils-e307ad7e059a98dba58e.dll.js"></script></head>
<body>
<div id=app></div>

</body>
</html>
