.image-full-screen {
  .hide {
    display: none;
  }

  .btn-close {
    @include flex(center, center);
    position: fixed;
    right: 0.4rem;
    top: 0.4rem;
    width: 0.6rem;
    height: 0.6rem;
    border-radius: 0.04rem;
    @include font-style(0.18rem);
    background: rgba(#fff, 0.75);
    cursor: pointer;

    &:hover {
      background: rgba(#fff, 0.85);
      color: $black-dark;
    }
  }

  .full-img {
    max-width: 90% !important;
    max-height: 90% !important;
  }

  .prev,
  .next {
    @include flex(center, center);
    position: fixed;
    left: 0;
    top: 50%;
    width: 0.6rem;
    height: 0.8rem;
    background: rgba(#fff, 0.75);
    cursor: pointer;

    &:hover {
      background: rgba(#fff, 0.85);
      color: $black-dark;
    }
  }

  .next {
    left: auto;
    right: 0;
  }
}
